
/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8f9fa;
  color: #222;
  scroll-behavior: smooth;
}

/* ========== NAVBAR ========== */
.navbar {
  background: #111;
  color: #fff;
  padding: 18px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #ffd700;
}

/* ========== HERO ========== */
.hero-section {
  height: 85vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('../img/bg.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 10%;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.auth-container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:75vh;
  background:#f5f7fa;
}

.auth-box{
  background:#fff;
  width:380px;
  padding:30px;
  border-radius:16px;
  box-shadow:0 6px 20px rgba(0,0,0,.12);
}

.auth-box h2{
  margin-bottom:18px;
  font-weight:600;
  text-align:center;
  color:#222;
}

.inputBox{
  display:flex;
  flex-direction:column;
  margin-bottom:15px;
}

.inputBox label{
  font-size:14px; font-weight:500; margin-bottom:4px;
}

.inputBox input{
  padding:12px;
  border:1px solid #ccc;
  border-radius:8px;
  font-size:15px;
  transition:.3s;
}

.inputBox input:focus{
  border-color:#0077b6;
  outline:none;
}

.btn-auth{
  width:100%;
  padding:12px;
  background:#222;
  color:#fff;
  border:none;
  cursor:pointer;
  border-radius:8px;
  font-size:17px;
  transition:.3s;
}

.btn-auth:hover{
  background:#444;
}

.alt{
  text-align:center;
  margin-top:12px;
}
.alt a{
  color:#0077b6;
  text-decoration:none;
  font-weight:600;
}

.match-text{
  font-size:12px;
  margin-top:3px;
}
